[submodule "rdfshape-api"]
	path = rdfshape-api
	url = https://github.com/weso/rdfshape-api.git
[submodule "rdfshape-client"]
	path = rdfshape-client
	url = https://github.com/weso/rdfshape-client.git
[submodule "wikishape"]
	path = wikishape
	url = https://github.com/weso/wikishape.git
